.header {
    height: 67px;
    background-color: #C3CFD9;

    font-size: 34px;
    color:#E8833A;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}